/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
/* #endregion common */

/* #region color palette */
:root{
    --boo-ligher: #ffffff;
    --boo-darker: #000000;
    --boo-header-bg: #ff6900;
    --boo-footer-bg: #1a1a1a;
    --boo-footer-text: #f3ebd6;
    --boo-main-discount: #ff0000;
    --boo-main-extra: #008000;
    --boo-brand: #6a7075;
}
/* #endregion color palette */

/* #region utilities */
.debug{
    #app-header{
        background-color: red;
        height: 100px;
    }

    #app-main{
        background-color: blue;
        height: 400px;
    }

    #app-footer{
        background-color: black;
        height: 100px;
    }

    .container{
        background-color: yellow;
    }
}

/* #region flexbox */
.d-flex{
    display: flex;
}

.justify-space-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}
/* #endregion flexbox */

/* #endregion utilities */

/* #region header */
#app-header{
    .container{
        width: 80%;
        margin: auto;

        ul{
            list-style-type: none;
        }
    }
}
/* #endregion header */


