/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    padding: 0rem .5rem 0rem 0rem;
    font-size: .75rem;
}

/* #endregion common */

/* #region color palette */
:root {
    --boo-ligher: #ffffff;
    --boo-darker: #000000;
    --boo-header-bg: #ff6900;
    --boo-footer-bg: #1a1a1a;
    --boo-footer-text: #f3ebd6;
    --boo-main-discount: #ff0000;
    --boo-main-extra: #008000;
    --boo-brand: #6a7075;
}

/* #endregion color palette */

/* #region utilities */
.debug {
    #app-header {
        background-color: red;
        height: 100px;
    }

    #app-main {
        background-color: blue;
        height: 400px;
    }

    #app-footer {
        background-color: black;
        height: 100px;
    }

    .container {
        background-color: lightgray;
        height: 100%;
    }

    .element {
        background-color: aqua;

    }
}

.container {
    width: 80%;
    margin: auto;
}

/* #region flexbox */
.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* #endregion flexbox */

/* #endregion utilities */

/* #region header */
#app-header {
    background-color: var(--boo-header-bg);
    color: var(--boo-ligher);
    position: fixed;
    width: 100%;
    z-index: 10000;

    .p-1rem-up-down {
        padding: 1rem 0rem;
    }

    ul {
        list-style-type: none;
    }

    a{
        color: var(--boo-ligher);
        font-weight: bold;
    }

    img {
        width: 6rem;
        vertical-align: middle;
    }

    i {
        font-size: .75rem;
    }
}

/* #endregion header */

/* #region main */
#app-main {

    .element {
        width: 33%;
        position: relative;
        margin-top: 1.5rem;
    }

    .discount {
        position: relative;
    }

    .discount-value,
    .ecofriendly {
        color: var(--boo-ligher);
        padding: .25rem;
        font-size: .5rem;
        margin-right: .25rem;
        font-weight: bold;
        position: absolute;
        bottom: 3rem;
    }

    .discount-value {
        background-color: var(--boo-main-discount);
    }

    .ecofriendly {
        background-color: var(--boo-main-extra);
        position: absolute;
        left: 2rem;
    }

    h3 {
        font-weight: normal;
        color: var(--boo-brand);
        font-size: .75rem;
    }

    h2 {
        font-size: 1rem;
    }

    .red-price,
    .old-price {
        font-size: .85rem;
    }

    .red-price {
        color: var(--boo-main-discount);
        font-weight: bold;
        margin-right: .25rem;
    }

    .old-price {
        text-decoration: line-through;
    }
}

.like {
    display: none;
    position: absolute;
    top: 1rem;
    right: 0;
    background-color: var(--boo-ligher);
    padding: .5rem;
}

.element:hover .like {
    display: block;
}

/* #endregion main */

/* #region footer */
#app-footer {
    background-color: var(--boo-footer-bg);
    color: var(--boo-footer-text);
    margin-top: 2rem;
    padding-top: 2rem;

    h3{
        font-size: .85rem;
    }

    ul {
        list-style-type: none;
    }

    li{
        padding: 1rem 1rem 1rem 0rem;
    }

    a{
        color: var(--boo-footer-text);
    }

    .social-icon{
        text-align: center;
        margin-top: 1rem;
    }
}

/* #endregion footer */